  <li id="<%= todo.id %>">
    <div  class = "todo_item"><%= todo.description %></div>
    <div class = "todo_priority"><strong>priority: </strong><%= todo.priority %></div>
    <div class = "edit"><%= link_to "edit", edit_todo_path(todo) %></div> 
    <div class = "delete"><%= link_to "delete", todo_path(todo), method: 'delete', remote: true %></div>   
    <div class = "done"><%= link_to "done", todo_path(todo), method: 'patch', remote: true %></div>
  </li>
 
