<li id="<%= todo.id %>" class = "well well-sm todo_block <%=todo.priority%>">
  <div class = "row">
    <span class="glyphicon glyphicon-unchecked <%=todo.priority%> col-lg-1 col-md-1 col-sm-1 col-xs-1" aria-hidden="true"></span>
    <div class = "todo_item col-lg-11 col-md-11 col-sm-10 col-xs-10"><%= todo.description %></div>
  </div>  
    <div class = "todo_priority"><strong>Priority: </strong><%= todo.priority%></div>
    
  <div class = "list_actions">
    <%= link_to edit_todo_path(todo), class: "button", remote: true do %>
      <span class="glyphicon glyphicon-pencil"></span>
    <% end %>
    <%= link_to todo_path(todo), class: "button", method: "delete", remote: true do %>
      <i class="glyphicon glyphicon-check"></i>
    <% end %>
  </div>
</li>
<br>


