<li id="<%= todo.id %>" class = "todo_block <%=todo.priority%> well well-sm">
  <div class = "row">
    <%= link_to todo_path(todo), class: "button", method: "delete", remote: true do %>
      <span class="glyphicon glyphicon-unchecked <%=todo.priority%>" aria-hidden="true"></span>
    <% end %>
    <div class = "todo_item "><%= todo.description %></div>
  </div>    
  <!--
  <div class = "list_actions">
    <%= link_to edit_todo_path(todo), class: "button", remote: true do %>
      <span class="glyphicon glyphicon-pencil"></span>
    <% end %>
  </div>
  -->
</li>
<br>


