<body>    
    <div class = "container list-create">
      <h1>My Todos</h1>

      <%= form_for Todo.new, remote: true do |f| %>
        <div class="form-group priority">
          <%= f.radio_button :priority, 'High' %> 
          <%= f.label :priority, 'High', value: '1'%>
          <%= f.radio_button :priority, 'Medium' %>
          <%= f.label :priority, 'Medium', value: 'Medium' %>
          <%= f.radio_button :priority, 'Low' %>
          <%= f.label :priority, 'Low', value: 'Low' %>
          <%= f.radio_button :priority, 'None', checked: 'checked' %>
          <%= f.label :priority, 'None', value: 'None' %>
        </div>
      
        <div class="form-group">
          <%= f.text_field :description, placeholder: "what needs doing?",  class: "form-control form_area" %>
        </div>

        <div class="button">
        <%= f.submit 'Submit' %>
        </div>
      <% end %>
    </div>

  <% if @todos.present? %>
    <%= render @todos %>
  <% else %>
    <p id = "error_message">There are no products containing the term(s) <%= params[:search] %>.</p>
    <ul>
      <%yield%>
    </ul>
  <%end%>
  </body>
</html>