<body>    
    <div class = "todo_form container">
      <%= form_for Todo.new, remote: true do |f| %>
        <div class="form-group priority">
          <%= f.radio_button :priority, 'Urgent'%> 
          <%= f.label :priority, 'Urgent', value: 'Urgent', id: 'urgent_label' %>
          <%= f.radio_button :priority, 'Pending' %>
          <%= f.label :priority, 'Pending', value: 'Pending', id: 'pending_label' %>
          <%= f.radio_button :priority, 'Later', checked: 'checked' %>
          <%= f.label :priority, 'Later', value: 'Later', id: 'later_label'%>
      
        <div class="form-group">
          <%= f.text_field :description, placeholder: "What needs doing?",  class: "form-control form_area input-text" %>
          <!--
          <%= f.submit 'Submit', class: "button submit-button" %>
          -->
        </div>  
      <% end %>
    </div>
    
  <% if @todos.present? %>
    <ul>
    <%= render @todos %>
    </ul>  
  <% else %>
    <p id = "error_message">There are no products containing the term(s) <%= params[:search] %>.</p>
  <%end%>
  </body>
</html>      
      