<!DOCTYPE html>
<html>
<head>
  <title>Amber Mulholland | ToDo</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'tinysort.min' %>
  <%= csrf_meta_tags %>
</head>
  
<nav>
    <div class = "navbar navbar-header navbar-inverse navbar-fixed-top" role = "navigation">
      <div class = "container-fluid">
        <div class = "project">
          <li><%= link_to "ALL", todos_path %></li>
        </div>
        <div class = "navbar-header" id="heading">      
          <div class = "navbar-collapse navbar-header collapse">
            <ul class = "nav navbar-nav">
              <li> 
                <%= form_tag(todos_path, method: "get", id: "search_form") do %>
                  <%= text_field_tag :search, params[:search] %>
                    <%= button_tag(type: "submit", class: "btn btn-default") do %>
                      <span class="glyphicon glyphicon-search" aria-hidden="true"></span> 
                    <% end %>
                <% end %>
              </li> 
              </br>
            </ul>
          </div>
        </div>
      </div> 
  </nav>   

<%=yield=%>
